[Desktop Entry]
Name=Telegram
GenericName=Internet
Comment=Telegram Desktop Chat Client
Icon=Telegram
Exec=Telegram
TryExec=Telegram
Terminal=false
Type=Application
Categories=Internet
