[Desktop Entry]
Name=Telegram
GenericName=Internet
Comment=Telegram Desktop Chat Client
Icon=telegram
Exec=telegram
TryExec=telegram
Terminal=false
Type=Application
Categories=Internet;

